@media screen and (min-width: 700px) {
  body {
    font-family: "Fjalla One", sans-serif;
    background-image: linear-gradient(#f7b5cb, #f8cc99);
    color: white;
  }
  body header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 14px 16px;
    font-family: monospace, "Fjalla One", sans-serif;
    height: 60px;
    margin-bottom: 1%;
  }
  body header nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  body main {
    padding-bottom: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 10px;
    padding-bottom: 11%;
  }
  body main h1 {
    grid-row: 1;
    grid-column: 2;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 5s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
  }
  @keyframes animated-text {
    from {
      width: 0px;
    }
    to {
      width: 525px;
    }
  }
  @keyframes animated-cursor {
    from {
      border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  body main img {
    grid-row: 1/span 3;
    grid-column: 1;
    max-height: 350px;
  }
  body main section {
    grid-row: 3;
    grid-column: 2;
  }
  body main section h5 {
    font-weight: lighter;
  }
  body main section ul li {
    list-style-type: none;
    display: inline;
  }
  body main p {
    grid-row: 2;
    grid-column: 2;
    margin: 0%;
    padding: 0%;
    line-height: 120%;
  }
  body footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin: 0%;
  }
  body footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  body footer .fa:hover {
    background-color: #9c6388;
  }
  body footer .fa-twitter {
    color: white;
  }
  body footer .fa-github {
    color: white;
  }
  body footer .fa-linkedin {
    color: white;
  }
  body footer .fa-google {
    color: white;
  }
  body footer .fa-codepen {
    color: white;
  }
}
@media screen and (min-width: 500.5px) {
  body {
    font-family: "Fjalla One", sans-serif;
    background-image: linear-gradient(#f7b5cb, #f8cc99);
    color: white;
  }
  body header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 14px 16px;
    font-family: monospace, "Fjalla One", sans-serif;
    height: 60px;
    margin-bottom: 2%;
  }
  body header nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  body main {
    padding-bottom: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 10px;
    padding-bottom: 11%;
  }
  body main h1 {
    grid-row: 1;
    grid-column: 2;
  }
  body main img {
    grid-row: 1/span 3;
    grid-column: 1;
    max-height: 350px;
  }
  body main section {
    grid-row: 3;
    grid-column: 2;
  }
  body main section h5 {
    font-weight: lighter;
  }
  body main section ul li {
    list-style-type: none;
    display: inline;
  }
  body main p {
    grid-row: 2;
    grid-column: 2;
    margin: 0%;
    padding: 0%;
    line-height: 120%;
  }
  body footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
  }
  body footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  body footer .fa:hover {
    background-color: #9c6388;
  }
  body footer .fa-twitter {
    color: white;
  }
  body footer .fa-github {
    color: white;
  }
  body footer .fa-linkedin {
    color: white;
  }
  body footer .fa-google {
    color: white;
  }
  body footer .fa-codepen {
    color: white;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-family: "Fjalla One", sans-serif;
    background-image: linear-gradient(#f7b5cb, #f8cc99);
    color: white;
  }
  body header h2 {
    visibility: hidden;
  }
  body header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 14px 16px;
    font-family: monospace, "Fjalla One", sans-serif;
    height: 60px;
    position: fixed;
    top: 90%;
    width: 100%;
    margin-left: -10px;
    z-index: 10;
  }
  body header nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  body main {
    padding-bottom: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-gap: 10px;
  }
  body main img {
    grid-row: 1;
    max-height: 35vw;
  }
  body main h1 {
    grid-row: 2;
    font-size: 5vw;
  }
  body main section {
    grid-row: 3;
  }
  body main section h5 {
    font-weight: lighter;
  }
  body main section ul li {
    list-style-type: none;
    display: inline;
  }
  body main p {
    grid-row: 4;
  }
  body footer {
    grid-row: 5;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin: 0%;
  }
  body footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  body footer .fa:hover {
    background-color: #9c6388;
  }
  body footer .fa-twitter {
    color: white;
  }
  body footer .fa-github {
    color: white;
  }
  body footer .fa-linkedin {
    color: white;
  }
  body footer .fa-google {
    color: white;
  }
  body footer .fa-codepen {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
